<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Registro de Contribuyentes</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Registro</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Registro de Contribuyentes
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-3xl">

  
            <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
                <p class="text-lg font-medium">Registro de Contribuyente</p>
                <p class="text-secondary mb-6">
                    Llenado de información de datos personales, domicilios, conyugue, regimen pensionario y otros
                </p>

                <!-- Tipo de Contribuyente -->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Tipo de Contribuyente</mat-label>
                        <mat-select [placeholder]="'Tipo de Contribuyente'">
                            <mat-option value="country-1">01 - Persona Natural</mat-option>
                            <mat-option value="country-2">02 - Persona Juridíca</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                
                <!-- Tipo de Documento -->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Tipo de Documento</mat-label>
                        <mat-select [placeholder]="'Tipo de Documento'">
                            <mat-option value="documento-1">01 - DNI</mat-option>
                            <mat-option value="documento-2">02 - Pasaporte</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                  <!-- Numero de Documento -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Número de Documento</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'numero_documento'"
                        matInput>
                </mat-form-field>
            </div>


            <p class="text-lg font-medium">Datos personales</p>
            <p class="text-secondary mb-6">
               Se podrá realizar la consulta a PIDE
            </p>

            <!-- Apellido Paterno -->
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pr-3">
                    <input
                        matInput
                        [placeholder]="'Apellido Paterno'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </mat-form-field>

                
            <!-- Apellido Materno -->
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <input
                        matInput
                        [placeholder]="'Apellido Materno'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </mat-form-field>



                 <!-- Nombres -->
                 <mat-form-field class="flex-auto gt-xs:pl-3">
                    <input
                        matInput
                        [placeholder]="'Nombres'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </mat-form-field>
            </div>


            <mat-divider class="mt-6 mb-10"></mat-divider>

        <div class="flex flex-col gt-xs:flex-row">

             <!-- Telefono -->
             <mat-form-field class="flex-auto gt-xs:pl-3">
                <input
                    matInput
                    [placeholder]="'Telefono'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>

            
             <!-- Numero de anexo -->
             <mat-form-field class="flex-auto gt-xs:pl-3">
                <input
                    matInput
                    [placeholder]="'Anexo'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>

              <!-- Numero de Telefono Celular -->
              <mat-form-field class="flex-auto gt-xs:pl-3">
                <input
                    matInput
                    [placeholder]="'Celular'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
              <!-- Correo electronico -->
              <mat-form-field class="flex-auto gt-xs:pl-3">
                <input
                    matInput
                    [placeholder]="'Email'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
              <!-- Numero de Casilla Postal -->
              <mat-form-field class="flex-auto gt-xs:pl-3">
                <input
                    matInput
                    [placeholder]="'Casilla Postal'">
            </mat-form-field>

        </div>
     
                        


                <mat-divider class="mt-6 mb-10"></mat-divider>
            

                
                <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                    <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Comentarios</span>
                    <mat-form-field class="fuse-mat-textarea flex-auto">
                        <textarea
                            matInput
                            [rows]="3"></textarea>
                    </mat-form-field>
                </div>
                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button mat-button>
                        Cancelar
                    </button>
                    <button
                        class="px-6 ml-3"
                        mat-flat-button
                        [color]="'primary'">
                        Guardar
                    </button>
                </div>

                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                  
                    <button
                        class="px-6 ml-3"
                        mat-flat-button
                        [color]="'primary'">
                        Registrar Domicilio
                    </button>
                </div>
         </form>
    </div>
</div>


