<div class="w-full max-w-9xl">
    <!-- <button class="ml-4" mat-flat-button type="button" [color]="'primary'" routerLink="/contribuyente/list">Ver Lista
    </button> -->


    <h2 *ngIf="CondicionRegistro>=true else elseEdicion">
        <h1> Nuevo Contribuyente </h1>
    </h2>
    <ng-template #elseEdicion>
        <h1> Edición de Contribuyente</h1>
    </ng-template>

    <mat-accordion>

        <mat-expansion-panel (opened)="panelContribuyenteOpenState = true"
            (closed)="panelContribuyenteOpenState = false">
            <mat-expansion-panel-header style="background-color: #c6c6c6">
                <mat-panel-title style="font-weight: bolder ;">
                    <!-- <p *ngIf="panelOpenState>=true">+</p> <p *ngIf="panelOpenState=false">-</p>  Contribuyente -->


                    <h2 *ngIf="panelContribuyenteOpenState>=true else elseBlock">
                        <p> - Contribuyente</p>
                    </h2>
                    <ng-template #elseBlock>
                        <p> + Contribuyente</p>
                    </ng-template>


                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>


                <!-- Form -->
            <form [formGroup]="registerFormContribuyente" (ngSubmit)="createContribuyente()"
                class="flex flex-col w-full form-container">


                <!-- Divider -->
                <div class="mt-12 mb-10 border-t"></div>

                <!-- Section -->
                <div class="w-full">

                </div>



                <div class="grid grid-cols-12 gap-10 w-full mt-10">

                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Cod. Contribuyente</mat-label>
                            <input matInput name="codContribuyente" id="codContribuyente"
                                formControlName="codContribuyente">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>N° de Declaración</mat-label>
                            <input matInput name="nroDeclaracion" id="nroDeclaracion" formControlName="nroDeclaracion">
                        </mat-form-field>
                    </div>


                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Fecha de Declaración</mat-label>
                            <input matInput [matDatepicker]="fechaDJ" formControlName="fechaDJ">
                            <mat-hint>DD/MM/YYYY </mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaDJ"></mat-datepicker-toggle>
                            <mat-datepicker #fechaDJ></mat-datepicker>
                        </mat-form-field>
                    </div>


                    <!-- Tipo de Medio -->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Tipo de Medio</mat-label>
                            <mat-select id="tipoMedioDeterminacionId" name="tipoMedioDeterminacionId"
                                formControlName="tipoMedioDeterminacionId">
                                <mat-option>-- Seleccionar Tipo de Medio Determinación --</mat-option>
                                <mat-option *ngFor="let mae of maestrosTipoMedio" [value]="mae.maestroId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <!-- Medio -->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Medio</mat-label>
                            <mat-select name="medioDeterminacionId" id="medioDeterminacionId"
                                formControlName="medioDeterminacionId">
                                <mat-option> -- Seleccionar Medio --</mat-option>
                                <mat-option *ngFor="let mae of maestrosMedio" [value]="mae.maestroId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <!-- Motivo -->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Motivo</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="motivoDjId" id="motivoDjId" formControlName="motivoDjId">
                                <mat-option> -- Seleccionar Motivo --</mat-option>
                                <mat-option *ngFor="let mae of maestrosMotivo" [value]="mae.maestroId">
                                    {{mae.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Modalidad Oficio -->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Modalidad de Oficio</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="modalidadOficio" id="modalidadOficio" formControlName="modalidadOficio">
                                <mat-option> -- Seleccionar Modalidad de Oficio --</mat-option>
                                <mat-option *ngFor="let mae of maestrosModalidadOficio" [value]="mae.maestroId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-6 w-full mt-8">

                    <!-- Contribuyente -->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Tipo de Contribuyente</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="tipoPersonaId" id="tipoPersonaId" formControlName="tipoPersonaId">
                                <mat-option> -- Seleccionar Tipo Contribuyente --</mat-option>
                                <mat-option *ngFor="let mae of maestrosTipoContribuyente" [value]="mae.maestroId">
                                    {{mae.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Tipo de Documento</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="docIdentidadId" formControlName="docIdentidadId" id="docIdentidadId">
                                <mat-option> -- Seleccionar Tipo Documento --</mat-option>
                                <mat-option *ngFor="let mae of maestrosTipoDocumento" [value]="mae.maestroId">
                                    {{mae.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Numero de documento -->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Número de Documento</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:credit-card'" matPrefix>
                            </mat-icon>
                            <input matInput id="numDocIdentidad" formControlName="numDocIdentidad"
                                name="numDocIdentidad">
                            <!-- <div *ngIf="error && error.nombre"> {{error.nombre}}</div> -->
                        </mat-form-field>
                    </div>


                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Fecha de Presentación </mat-label>
                            <input matInput [matDatepicker]="fechaInscripcion" formControlName="fechaInscripcion">
                            <mat-hint>DD/MM/YYYY </mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaInscripcion"></mat-datepicker-toggle>
                            <mat-datepicker #fechaInscripcion></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Fecha de Nacimiento</mat-label>
                            <input matInput [matDatepicker]="fechaNacimiento" formControlName="fechaNacimiento">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                            <mat-datepicker #fechaNacimiento></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <!-- Estado -->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Tipo de Estado</mat-label>
                            <mat-select id="estadoDjId" name="estadoDjId" formControlName="estadoDjId">
                                <mat-option>-- Seleccionar Estado --</mat-option>
                                <mat-option *ngFor="let mae of maestrosEstadoDj" [value]="mae.maestroId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <!-- Apellido  Paterno-->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput name="apellidoPaterno" id="apellidoPaterno"
                                formControlName="apellidoPaterno" placeholder="Apellido paterno">
                        </mat-form-field>
                    </div>


                    <!-- Apellido  Materno-->
                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput name="apellidoMaterno" id="apellidoMaterno"
                                formControlName="apellidoMaterno" placeholder="Apellido materno">
                        </mat-form-field>
                    </div>

                    <!-- Nombres-->
                    <div class="col-span-6 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Nombres</mat-label>
                            <input matInput name="nombres" id="nombres" formControlName="nombres" placeholder="nombres">
                        </mat-form-field>
                    </div>

                    <!-- Estado Civil-->
                    <div class="col-span-2 sm:col-span-2">

                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Estado Civil</mat-label>
                            <mat-select id="estadoCivil" name="estadoCivil" formControlName="estadoCivil">
                                <mat-option>-- Seleccionar Estado Civil --</mat-option>
                                <mat-option *ngFor="let mae of maestrosEstadoCivil" [value]="mae.maestroId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Fallecido</mat-label>
                            <input matInput id="fallecido" name="fallecido" formControlName="fallecido">
                        </mat-form-field>
                    </div>


                    <!-- Fecha Fallecio-->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Fecha Fallecimiento</mat-label>
                            <input matInput id="fechaFallecimiento" name="fechaFallecimiento"
                                formControlName="fechaFallecimiento">
                            <!-- <div *ngIf="error && error.nombre"> {{error.nombre}}</div> -->
                        </mat-form-field>
                    </div>


                    <div class="col-span-4 sm:col-span-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Razon Social</mat-label>
                            <input matInput name="razonSocial" id="razonSocial" formControlName="razonSocial">
                        </mat-form-field>
                    </div>

                    <!-- Segamentación -->
                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Segmentación</mat-label>
                            <input matInput name="segContribuyenteId" id="segContribuyenteId"
                                formControlName="segContribuyenteId" readonly="true">
                        </mat-form-field>
                    </div>
                    <!-- Usuario de Creacion Hidden -->


                    <input hidden matInput name="usuarioCreacion" id="usuarioCreacion" formControlName="usuarioCreacion"
                        value="2">
                    <input hidden matInput name="terminalCreacion" id="terminalCreacion"
                        formControlName="usuarioCreacion" value="192.168.1.2">


                </div>
                <!-- Divider -->
                <div class="mt-11 mb-10 border-t"></div>

                <!-- Actions -->
                <div class="flex items-center justify-end">
                    <!-- <button mat-stroked-button type="button" [routerLink]="['../list']">
                        Cancelar
                    </button> -->
                    <button class="ml-4" [disabled]="registerFormContribuyente.invalid" mat-flat-button type="button"
                        [color]="'primary'" type="submit">Guardar
                    </button>

                    <!--<button class="ml-4" mat-flat-button type="button" [color]="'primary'" [disabled]="registerForm.invalid" type="submit" class="px-6 ml-3"></button>

                          (click)="contribuyente.contribuyenteNumero? editar(): crear()">{{ contribuyente.contribuyenteNumero?
                        'Siguiente': 'Siguiente'}} -->

                </div>
            </form>

        </mat-expansion-panel>




        <mat-expansion-panel (opened)="panelCondicion = true" (closed)="panelCondicion = false">
            <mat-expansion-panel-header style="background-color: #c6c6c6">
                <mat-panel-title style="font-weight: bolder ;">
                    <!-- <p *ngIf="panelOpenState>=true">+</p> <p *ngIf="panelOpenState=false">-</p>  Contribuyente -->


                    <h2 *ngIf="panelCondicion>=true else elseBlockCondicion">
                        <p> - Condición del Contribuyente</p>
                    </h2>
                    <ng-template #elseBlockCondicion>
                        <p> + Condición del Contribuyente</p>
                    </ng-template>


                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>


            <form class="flex flex-col w-full form-container" [formGroup]="registerFormContribuyenteCondicion"
                (ngSubmit)="createCondicionContribuyente()">

                <div class="grid grid-cols-12 gap-10 w-full mt-10">



                    <!-- Condicion del Contribuyente-->
                    <div class="col-span-2 sm:col-span-2">

                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Condición del Contribuyente</mat-label>
                            <mat-select id="tipoCondicionInafectacionId" name="tipoCondicionInafectacionId"
                                formControlName="tipoCondicionInafectacionId">
                                <mat-option>-- Seleccionar Condición Contribuyente --</mat-option>
                                <mat-option *ngFor="let mae of maestrosCondicionTipoContribuyente"
                                    [value]="mae.maestroId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <!-- Condicion de Persona Juridica-->
                    <div class="col-span-2 sm:col-span-2">

                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Condición del Contribuyente</mat-label>
                            <mat-select id="tipoCondicionConcursalId" name="tipoCondicionConcursalId"
                                formControlName="tipoCondicionConcursalId">
                                <mat-option>-- Seleccionar Condición Contribuyente --</mat-option>
                                <mat-option *ngFor="let mae of maestrosCondicionConcursalTipo" [value]="mae.maestroId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>





                    <!-- Tipo de documento-->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Tipo de Documento</mat-label>
                            <mat-select id="tipoDocumentoId" name="tipoDocumentoId" formControlName="tipoDocumentoId">
                                <mat-option>-- Seleccionar Tipo de Documento --</mat-option>
                                <mat-option *ngFor="let mae of maestrosCondicionConcursalTipo" [value]="mae.maestroId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>




                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Descripción de Documento </mat-label>
                            <input matInput name="desDocumento" id="desDocumento" formControlName="desDocumento">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Número de Documento </mat-label>
                            <input matInput name="numeroDocumento" id="numeroDocumento"
                                formControlName="numeroDocumento">
                        </mat-form-field>
                    </div>


                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field>
                            <mat-label>Fecha de Documento</mat-label>
                            <input matInput [matDatepicker]="fechaDocumento" formControlName="fechaDocumento">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaDocumento"></mat-datepicker-toggle>
                            <mat-datepicker #fechaDocumento></mat-datepicker>
                        </mat-form-field>
                    </div>


                    <div class="col-span-4 sm:col-span-2">

                        <mat-form-field>
                            <mat-label>Fecha de Vigencia Inicio</mat-label>
                            <input matInput [matDatepicker]="fechaVigenciaInicial"
                                formControlName="fechaVigenciaInicial">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaVigenciaInicial"></mat-datepicker-toggle>
                            <mat-datepicker #fechaVigenciaInicial></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha final </mat-label>
                            <input matInput [matDatepicker]="fechaVigenciaFinal" formControlName="fechaVigenciaFinal">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaVigenciaFinal"></mat-datepicker-toggle>
                            <mat-datepicker #fechaVigenciaFinal></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Importe Pension </mat-label>
                            <input matInput name="importePension" id="importePension" formControlName="importePension">
                        </mat-form-field>
                    </div>

                    <!-- Estado Id-->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Estado</mat-label>
                            <mat-select id="estadoId" name="estadoId" formControlName="estadoId">
                                <mat-option>-- Seleccionar Estado --</mat-option>
                                <mat-option *ngFor="let mae of maestroEstadoRegistroCondicion" [value]="mae.maestroId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Número de Licencia </mat-label>
                            <input matInput name="numeroLicencia" id="numeroLicencia" formControlName="numeroLicencia">
                        </mat-form-field>
                    </div>
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Numero de Expediente </mat-label>
                            <input matInput name="numeroExpediente" id="numeroExpediente"
                                formControlName="numeroExpediente">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha de Expediente</mat-label>
                            <input matInput [matDatepicker]="fechaExpediente" formControlName="fechaExpediente">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaExpediente"></mat-datepicker-toggle>
                            <mat-datepicker #fechaExpediente></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Divider -->
                <div class="mt-11 mb-10 border-t"></div>

                <!-- Actions -->
                <div class="flex items-center justify-end">
                    <!-- <button mat-stroked-button type="button" [routerLink]="['../list']">
                             Cancelar
                         </button> -->
                    <!-- <button class="ml-4" mat-flat-button type="button" [color]="'primary'"
                        (click)="contribuyente.contribuyenteNumero? editar(): crear()">{{
                        contribuyente.contribuyenteNumero?
                        'Siguiente': 'Siguiente'}}
                    </button> -->

                    <!-- [disabled]="registerFormContribuyenteCondicion.invalid" -->

                    <button class="ml-4" mat-flat-button type="button" [color]="'primary'" type="submit">Siguiente
                    </button>
                </div>

            </form>





        </mat-expansion-panel>



        <mat-expansion-panel (opened)="panelDomicilioFiscal = true" (closed)="panelDomicilioFiscal = false">
            <mat-expansion-panel-header style="background-color: #c6c6c6">
                <mat-panel-title style="font-weight: bolder ;">
                    <!-- <p *ngIf="panelOpenState>=true">+</p> <p *ngIf="panelOpenState=false">-</p>  Contribuyente -->

                    <h2 *ngIf="panelDomicilioFiscal>=true else elseBlockDomicilioFiscal">
                        <p> - Domicilio del Contribuyente</p>
                    </h2>
                    <ng-template #elseBlockDomicilioFiscal>
                        <p> + Domicilio del Contribuyente</p>
                    </ng-template>

                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Form -->
            <form class="flex flex-col w-full form-container" [formGroup]="registerFormContribuyenteDomicilio" (ngSubmit)="createContribuyente()" class="flex flex-col w-full form-container">


                <!-- Divider -->
                <div class="mt-12 mb-10 border-t"></div>

                <!-- Section -->
                <div class="w-full">

                </div>

                <div class="grid grid-cols-12 gap-6 w-full mt-8">

                    <!-- Departamento -->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Departamento</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="departamentoId" id="departamentoId" formControlName="departamentoId" (valueChange)="maestroProvincia($event)">
                                <mat-option>--Seleccione el departamento--</mat-option>
                                <mat-option *ngFor="let mae of ubigeo" [value]="mae.departamentoId">
                                    {{mae.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Procinvia -->
                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Provincia</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="provinciaId" id="provinciaId" formControlName="provinciaId" (valueChange)="maestroDistrito($event)">
                                <mat-option *ngFor="let pro of ubigeoProvincia" [value]="pro.provinciaId">{{pro.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Distrito</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="distritoId" id="distritoId" formControlName="distritoId">
                                <mat-option *ngFor="let dis of ubigeoDistrito" [value]="dis.descripcion">
                                    {{dis.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Tipo Predio</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="tipoPredioId" id="tipoPredioId" formControlName="tipoPredioId">
                                <mat-option [value]="'1'">Santiago</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Via</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="tipoPredioId" id="tipoPredioId" formControlName="tipoPredioId">
                                <mat-option [value]="'1'">Fiscal</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Fecha de declaración</mat-label>
                            <input matInput name="fechaRegistro" id="fechaRegistro" formControlName="fechaRegistro">
                        </mat-form-field>
                    </div>

                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Tipo de Vía</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="viaId" id="viaId" formControlName="viaId">
                                <mat-option [value]="'1'">Avenida</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Número 1</mat-label>
                            <input matInput name="numero1" id="numero1" formControlName="numero1">
                        </mat-form-field>
                    </div>


                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Letra 1</mat-label>
                            <input matInput name="letra1" id="letra1" formControlName="letra1">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Número 2</mat-label>
                            <input matInput name="numero2" id="numero2" formControlName="numero2">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Letra 2</mat-label>
                            <input matInput name="letra2" id="letra2" formControlName="letra2">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Manzana</mat-label>
                            <input matInput name="mazana" id="manzana" formControlName="manzana">
                        </mat-form-field>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Lote</mat-label>
                            <input matInput name="lote" id="lote" formControlName="lote">
                        </mat-form-field>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Sub Lote</mat-label>
                            <input matInput name="subLote" id="subLote" formControlName="subLote">
                        </mat-form-field>
                    </div>

                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Zona Urbana</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="zonaUrbanaId" id="zonaUrbanaId" formControlName="zonaUrbanaId">
                                <mat-option [value]="'1'">Avenida</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Zona Urbana</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="zonaUrbanaId" id="zonaUrbanaId" formControlName="zonaUrbanaId">
                                <mat-option [value]="'1'">Avenida</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>




                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Sub Zona</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="subZonaUrbanaId" id="subZonaUrbanaId" formControlName="subZonaUrbanaId">
                                <mat-option [value]="'1'">Avenida</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Edificación</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="edificacionId" id="edificacionId" formControlName="edificacionId">
                                <mat-option [value]="'1'">Edificacion</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-span-4 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Interior</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <mat-select name="tipoInteriorId" id="tipoInteriorId" formControlName="tipoInteriorId">
                                <mat-option [value]="'1'">Interior</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Piso</mat-label>
                            <input matInput name="piso" id="piso" formControlName="piso">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Ingreso</mat-label>
                            <input matInput name="ingreso" id="ingreso" formControlName="ingreso">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Km</mat-label>
                            <input matInput name="kilometro" id="kilometro" formControlName="kilometro">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Referencia</mat-label>
                            <input matInput name="referencia" id="referencia" formControlName="referencia">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Latitud</mat-label>
                            <input matInput name="latitud" id="latitud" formControlName="latitud">
                        </mat-form-field>
                    </div>

                    <div class="col-span-2 sm:col-span-2">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Longitud</mat-label>
                            <input matInput name="longitud" id="longitud" formControlName="longitud">
                        </mat-form-field>
                    </div>


                </div>

                <!-- Divider -->
                <div class="mt-11 mb-10 border-t"></div>

                <!-- Actions -->
                <div class="flex items-center justify-end">
                    <button class="ml-4" mat-flat-button type="button" [color]="'primary'"
                        (click)="contribuyente.contribuyenteNumero? editar(): crear()">{{
                        contribuyente.contribuyenteNumero?
                        'Siguiente': 'Siguiente'}}
                    </button>
                </div>
            </form>


        </mat-expansion-panel>


    </mat-accordion>

</div>
