<div class="w-full max-w-7xl">

    <!-- Form -->
    <form [formGroup]="planBillingForm">


        <!-- Divider -->
        <div class="mt-12 mb-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl" style="font-weight: bold;" >Registro de Contribuyente</div>
            <div class="text-secondary">Formulario para el mantenimineto y gestión de contribuyente.</div>
        </div>
     
        <div class="grid grid-cols-12 gap-6 w-full mt-8">


            <!-- Contribuyente -->
            <div class="col-span-2 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Tipo de Contribuyente</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix></mat-icon>
                    <mat-select [formControlName]="'tipoContribuyente'">
                        <mat-option [value]="'1'">Natural</mat-option>
                        <mat-option [value]="'2'">Juridica</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="col-span-4 sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix></mat-icon>
                    <mat-select [formControlName]="'tipoContribuyente'">
                        <mat-option [value]="'1'">DNI</mat-option>
                        <mat-option [value]="'2'">Carnet de Extranjería</mat-option>
                        <mat-option [value]="'3'">Pasaporte</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <!-- Card number -->
            <div class="col-span-6 sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Número de Documento</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:credit-card'" matPrefix></mat-icon>
                    <input  matInput>
                </mat-form-field>
            </div>


            <div class="col-span-2 sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>


            <div class="col-span-4 sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>


            <div class="col-span-6 sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Nombres</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>


            <div class="col-span-4 sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Razon Social</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>


            <!-- Celular -->
            <div class="col-span-8 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Celular</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:hashtag'" matPrefix></mat-icon>
                    <input matInput>
                </mat-form-field>
            </div>


            <!-- Telefono -->
            <div class="col-span-8 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Telefono</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:hashtag'" matPrefix></mat-icon>
                    <input matInput>
                </mat-form-field>
            </div>




            <!-- Card holder -->
            <div class="col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Email</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                    <input  matInput>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button">
                Cancelar
            </button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'">Guardar
            </button>
        </div>
    </form>

</div>