<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Contribuyente</div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <div>

                <button class="m-2" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                    <span class="m-2 mr-1" [routerLink]="['../contribuyente']"
                        routerLinkActive="router-link-active">Domicilio</span>

                </button>
                <button class="m-2" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                    <span class="m-2 mr-1" [routerLink]="['../contribuyente']"
                        routerLinkActive="router-link-active">Relacionado</span>

                </button>
                <button class="m-2" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                    <span class="m-2 mr-1" [routerLink]="['../contribuyente']" routerLinkActive="router-link-active">DJ
                        Predial</span>

                </button>
                <button class="m-2" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                    <span class="m-2 mr-1" [routerLink]="['../contribuyente']"
                        routerLinkActive="router-link-active">Domicilio</span>

                </button>
                <button class="m-2" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                    <span class="m-2 mr-1" [routerLink]="['../contribuyente']"
                        routerLinkActive="router-link-active">Sustento</span>

                </button>
                <button class="m-2" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                    <span class="m-2 mr-1" [routerLink]="['../contribuyente']"
                        routerLinkActive="router-link-active">Notificación</span>

                </button>
            </div>
        </div>

    </div>





    <!-- Actions -->
    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        <!-- Search -->
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input matInput [autocomplete]="'off'" [placeholder]="'Buscar contribuyente'">
        </mat-form-field>
        <!-- Add product button -->




        <button class="ml-4" mat-flat-button [color]="'primary'">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1" [routerLink]="['../contribuyente']" routerLinkActive="router-link-active">Agregar
                Contribuyente</span>

        </button>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container>
                <ng-container>
                    <div class="grid">
                        <!-- Header -->
                        <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear>



                            <div class="hidden sm:block">
                                Codigo
                            </div>





                            <div class="hidden sm:block">
                                Apellido y Nombres / Razon Social
                            </div>


                            <div class="hidden sm:block">
                                Documento
                            </div>


                            <div class="hidden sm:block">
                                N° Documento
                            </div>

                            <div class="hidden sm:block">
                                Razon Social
                            </div>

                            <div class="hidden sm:block">
                                Celular
                            </div>

                            <div class="hidden sm:block">
                                Telefono
                            </div>


                            <div class="hidden sm:block">
                                Acciones
                            </div>

                        </div>
                        <!-- Rows -->
                        <ng-container>
                            <ng-container *ngFor="let contribuyente of contribuyentes">
                                <div
                                    class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b hover:bg-red-100">



                                    <!-- SKU -->
                                    <div>
                                        {{contribuyente.contribuyenteId}}
                                    </div>


                                    <!-- SKU -->
                                    <div class="md:block truncate">
                                        {{contribuyente.apellidoPaterno + ' ' + contribuyente.apellidoMaterno + ' ' +
                                        contribuyente.nombres}}
                                    </div>
                                    <!-- SKU -->
                                    <div class="md:block truncate">
                                        {{contribuyente.tipoDocumento}}
                                    </div>
                                    <!-- SKU -->
                                    <div class="md:block truncate">
                                        {{contribuyente.numeroDocumento}}
                                    </div>
                                    <!-- SKU -->
                                    <div class="md:block truncate">
                                        {{contribuyente.razonSocial}}
                                    </div>


                                    <!-- SKU -->
                                    <div class="md:block truncate">
                                        {{contribuyente.celular1}}
                                    </div>


                                    <!-- SKU -->
                                    <div class="md:block truncate">
                                        {{contribuyente.celular2}}
                                    </div>
                                    <!-- SKU -->
                                    <div class="md:block truncate">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'">
                                        </mat-icon>
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:pencil'" [routerLink]="['/contribuyente/form' ,contribuyente.contribuyenteId]" routerLinkActive="router-link-active" >
                                        </mat-icon>
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:trash'">
                                        </mat-icon>
                                    </div>



                                </div>
                                <div class="grid">

                                </div>
                            </ng-container>
                        </ng-container>
                    </div>



                </ng-container>

                <!-- <mat-paginator [length]="totalRegistros"
                [pageSize]="totalPorPagina"
                [pageIndex]="paginaActual"
                [pageSizeOptions]="pageSizeOptions"
                (page) ="paginar($event)"
                showFirstLastButtons
                class="float-left mx-2">
              </mat-paginator> -->

                <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual"
                    [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" aria-label="Select page"
                    showFirstLastButtons class="float-right mx-2">
                </mat-paginator>
            </ng-container>

        </div>

    </div>

</div>

<router-outlet></router-outlet>