<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-4 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Contribuyente >> Bandeja</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-1">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Contribuyente
                    <button class="float-left" mat-flat-button [color]="'primary'">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'" [routerLink]="['../contribuyente']"
                            routerLinkActive="router-link-active"></mat-icon>
                    </button>
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-2">

        <div class="max-w-12xl">

            <form class="flex flex-col mt-4 px-8 pt-4 bg-card shadow rounded overflow-hidden" [formGroup]="formBusquedaContribuyente" (ngSubmit)="submit()">
                <p class="text-lg font-medium pb-3">Búsqueda de Contribuyentes</p>
                <div class="flex flex-col gt-xs:flex-row">
                    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 col-span-2">
                        <!-- Search -->
                        <div class="mr-4">
                            <mat-radio-button class="mb-2" [color]="'primary'" [value]="'1'" name="tipoFiltro" (change)="changeFiltro($event)"></mat-radio-button>
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-64">
                                <mat-label>Código Contribuyente :</mat-label>
                                <input matInput [autocomplete]="'off'" name="contribuyenteNumero" id="contribuyenteNumero" formControlName="contribuyenteNumero">
                                <mat-error *ngIf="isSubmited && f.contribuyenteNumero.errors" class="text-sm">Campo obligatorio</mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 col-span-4">
                        <div class="mr-4">
                            <mat-radio-button class="mb-2" [color]="'primary'" [value]="'2'" name="tipoFiltro" (change)="changeFiltro($event)"></mat-radio-button>
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript  min-w-64">
                                <mat-label>Tipo de documento :</mat-label>
                                <mat-select name="docIdentidadId" id="docIdentidadId" formControlName="docIdentidadId">
                                    <mat-option value="">Seleccionar</mat-option>
                                    <mat-option [value]="'1'">DNI</mat-option>
                                    <mat-option [value]="'2'">Carnet de Extranjería</mat-option>
                                    <mat-option [value]="'3'">Pasaporte</mat-option>
                                </mat-select>
                                <mat-error *ngIf="isSubmited && f.docIdentidadId.errors" class="text-sm">Campo obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mr-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript  min-w-64">
                                <mat-label>Número documento :</mat-label>
                                <input matInput [autocomplete]="'off'" name="numDocIdentidad" id="numDocIdentidad" formControlName="numDocIdentidad">
                                <mat-error *ngIf="myError('numDocIdentidad', 'required')">Campo obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 col-span-4">
                        <div class=" mr-4">
                            <mat-radio-button class="mb-2" [color]="'primary'" [value]="'3'" name="tipoFiltro" (change)="changeFiltro($event)"></mat-radio-button>
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-64">
                                <mat-label>Apellido Paterno :</mat-label>
                                <input matInput [autocomplete]="'off'" name="apellidoPaterno" id="apellidoPaterno" formControlName="apellidoPaterno">
                                <mat-error *ngIf="isSubmited && f.apellidoPaterno.errors" class="text-sm">Campo obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mr-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript  min-w-64">
                                <mat-label style="padding-right: 20;">Apellido Materno :</mat-label>
                                <input matInput [autocomplete]="'off'" name="apellidoMaterno" id="apellidoMaterno" formControlName="apellidoMaterno">
                                <mat-error *ngIf="isSubmited && f.apellidoMaterno.errors" class="text-sm">Campo obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mr-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-64">
                                <mat-label>Nombres :</mat-label>
                                <input matInput [autocomplete]="'off'" name="nombres" id="nombres" formControlName="nombres">
                                <mat-error *ngIf="isSubmited && f.nombres.errors" class="text-sm">Campo obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4  col-span-4">
                        <div class="mr-4">
                            <mat-radio-button class="mb-2" [color]="'primary'" [value]="'4'" name="tipoFiltro" (change)="changeFiltro($event)" required></mat-radio-button>
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript  min-w-64">
                                <mat-label>Razón social</mat-label>
                                <input matInput name="razonSocial" id="razonSocial" [autocomplete]="'off'" formControlName="razonSocial">
                                <mat-error *ngIf="isSubmited && f.razonSocial.errors" class="text-sm">Campo obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <mat-error *ngIf="isSubmited && f.tipoFiltro.errors" class="text-sm">Seleccione el tipo de filtro</mat-error>
                    </div>
                </div>
                <div class="flex items-center justify-end border-t -mx-8 mt-2 px-4 py-2 bg-gray-50 dark:bg-gray-700">
                    <button mat-button [color]="'accent'" (click)="onReset()">
                        <mat-icon [svgIcon]="'heroicons_outline:x-circle'" routerLinkActive="router-link-active"></mat-icon>
                        Cancelar
                    </button>
                    <button
                        class="px-6 ml-3"
                        mat-flat-button
                        [color]="'primary'" type="submit">
                        <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        Buscar
                    </button>
                </div>
            </form>

            <div class="mat-card mat-focus-indicator">
                <mat-tab-group mat-align-tabs="end" class="p-2">
                    <mat-tab label="Detalle">
                        <div class="flex justify-end">
                            <div class="inline-flex pb-3" role="group" aria-label="Button group" class="absolute left-0 px-8">
                                <button mat-raised-button color="default" (click)="descargarReporteExcel()" class="px-4" matTooltip="Descargar">
                                    <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                                </button>
                                <button mat-raised-button color="default" (click)="printResult()" class="px-4" matTooltip="Imprimir" >
                                    <mat-icon [svgIcon]="'heroicons_outline:printer'"></mat-icon>
                                </button>
                            </div>
                            <div class="inline-flex pb-3" role="group" aria-label="Button group">
                                <button class="no-radius" mat-raised-button color="default">
                                    <mat-icon [svgIcon]="'heroicons_outline:clipboard-list'"></mat-icon>
                                    <span [routerLink]="['../contribuyente']" routerLinkActive="router-link-active">
                                        DJ Predial</span>
                                </button>
                                <button class="no-radius" mat-raised-button color="default">
                                    <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                                    <span [routerLink]="['../contribuyente']" routerLinkActive="router-link-active">
                                        Notificación</span>
                                </button>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                            <div class="flex flex-col flex-auto overflow-hidden">
                                <div class="mat-elevation-z8">
                                    <mat-progress-bar mode="indeterminate" *ngIf="isLoadingBusqueda"></mat-progress-bar>
                                    <table mat-table [dataSource]="dataSource" class="w-full overflow-y-visible" id="tblContribuyentes">
                                        <ng-container matColumnDef="contribuyenteNumero">
                                            <th mat-header-cell *matHeaderCellDef> Código </th>
                                            <td mat-cell *matCellDef="let element"> {{element.contribuyenteNumero}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="fechaDJ">
                                            <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
                                            <td mat-cell *matCellDef="let element"> {{element.fechaDJ | date  : 'dd/MM/yyyy'}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="desEstadoDj">
                                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                                            <td mat-cell *matCellDef="let element"> {{element.desEstadoDj}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="apellidoPaterno">
                                            <th mat-header-cell *matHeaderCellDef>  Apellidos y Nombres </th>
                                            <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno + ' ' + element.apellidoMaterno + ' ' +
                                                element.nombres}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="descDocIdentidad">
                                            <th mat-header-cell *matHeaderCellDef>  Tipo Documento </th>
                                            <td mat-cell *matCellDef="let element"> {{element.descDocIdentidad}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="numDocIdentidad">
                                            <th mat-header-cell *matHeaderCellDef>  N° Documento </th>
                                            <td mat-cell *matCellDef="let element"> {{element.numDocIdentidad}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef>  Acciones </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-icon-button color="primary" title="Ver detalle"
                                                [routerLink]="['../contribuyente-ver/']">
                                                    <mat-icon>search</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary" title="Editar"
                                                [routerLink]="['../contribuyente-editar/' ,element.contribuyenteNumero]">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary" matTooltip="Eliminar" (click)="eliminar(element)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                                    [pageSizeOptions]="pageSizeOptions" (page)="pageBusquedaChanged($event)" aria-label="Página">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Histórico"> </mat-tab>
                </mat-tab-group>
                <!-- Main -->
            </div>
        </div>

    </div>
</div>


